@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #FFA500;  
}

html,
body {
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  font-family: 'Playfair Display', serif;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  z-index: 1;
}

/* global.css */
.home-button {
  position: fixed;
  padding: 0.75rem;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  z-index: 50;
}

.home-button svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
}

.exp-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  background-color: black;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, transform 0.3s;
  max-width: 200px;
  width: auto;
}

.home-button:hover, 
.exp-button:hover {
  transform: scale(1.05);
}

